@charset "utf-8";
/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "FFShamelFamily-SansOneMedium";
    src: url("../fonts/ff/FFShamelFamily-SansOneMedium.eot"); /* IE9 Compat Modes */
    src: url("../fonts/ff/FFShamelFamily-SansOneMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/ff/FFShamelFamily-SansOneMedium.otf") format("opentype"), /* Open Type Font */
      url("../fonts/ff/FFShamelFamily-SansOneMedium.svg") format("svg"), /* Legacy iOS */
      url("../fonts/ff/FFShamelFamily-SansOneMedium.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/ff/FFShamelFamily-SansOneMedium.woff") format("woff"), /* Modern Browsers */
      url("../fonts/ff/FFShamelFamily-SansOneMedium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  /* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "FFShamelFamily-SansOneBold";
    src: url("../fonts/ff/FFShamelFamily-SansOneBold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/ff/FFShamelFamily-SansOneBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/ff/FFShamelFamily-SansOneBold.otf") format("opentype"), /* Open Type Font */
      url("../fonts/ff/FFShamelFamily-SansOneBold.svg") format("svg"), /* Legacy iOS */
      url("../fonts/ff/FFShamelFamily-SansOneBold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/ff/FFShamelFamily-SansOneBold.woff") format("woff"), /* Modern Browsers */
      url("../fonts/ff/FFShamelFamily-SansOneBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  /* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "FFShamelFamily-SansOneBook";
    src: url("../fonts/ff/FFShamelFamily-SansOneBook.eot"); /* IE9 Compat Modes */
    src: url("../fonts/ff/FFShamelFamily-SansOneBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/ff/FFShamelFamily-SansOneBook.otf") format("opentype"), /* Open Type Font */
      url("../fonts/ff/FFShamelFamily-SansOneBook.svg") format("svg"), /* Legacy iOS */
      url("../fonts/ff/FFShamelFamily-SansOneBook.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/ff/FFShamelFamily-SansOneBook.woff") format("woff"), /* Modern Browsers */
      url("../fonts/ff/FFShamelFamily-SansOneBook.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }


/*  Generals  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden !important;
}

body {
    font-family: "FFShamelFamily-SansOneMedium" !important;
    background: url(../img/Group\ 129.png) no-repeat right top !important;

}

.black-color {
    color: #000;
    fill: #000;
}

.gray-color {
    color: #51555A;
    fill: #51555A;
}

.primery-color {
    color: #7657E5  ;
    fill: #7657E5;
}
.inverted{
    background: #fff !important;
    color: #7657E5 !important;
}
.inverted-button{
    border-radius: 40px !important;
    font-family: "FFShamelFamily-SansOneBook" !important;
    background: #fff !important;
    color: #7657E5 !important;
}

.bg-primery {
    background: #7657E5 !important;
    color: #fff !important;
}
.primery-button{
    background: #7657E5 !important;
    border-radius: 40px !important;
    color: #fff !important;
    font-family: "FFShamelFamily-SansOneBook" !important;

}
/*
opacity: 0.7;
color: #2e6da4;
*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: "FFShamelFamily-SansOneBold" !important;

}
a {
    text-decoration: none !important;
    outline: none ;
    color: #000 ;
    /* color: #221950 !important; */

}
a:hover {
    color: #7657E5!important;
}

/* Nav bar style */
/* Nav / Navbar Styles
===================================*/

.navbar {
    background: transparent;
    font-family: "FFShamelFamily-SansOneBook" !important;
	transition-duration: 0.6s;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-4px, 7px) ;
  }

  .change .bar2 {opacity: 0 !important;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -8px) ;
  }


/* jQuery Styles
===================================*/
.navbar-scroll {
    background: #f4f0ff !important;
	padding: 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4) !important;
	transition-duration: 0.2s !important;
}
.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}
.nav-primery-button ,.nav-inverted-button ,.nav-lang-changer
{
    font-size: 10px !important ;
    border-radius: 6px !important;
    font-family: "FFShamelFamily-SansOneBook" !important;
}
.nav-primery-button {
    border: 1px solid #7657E5 !important;
    color: #7657E5 !important;
}
.nav-inverted-button{
    background:#7657E5 !important;
    color: #fff  !important;
}
.nav-inverted-button:hover{
    color:#fff !important;
}
.nav-lang-changer{
    background: #69E4F9 !important;
    color: #fff !important;
}
.login-button{
    font-size: 12px !important;
}
.res-nav-link{
    font-size: 14px !important;
}
.res-nav-buttons{
    font-size: 12px !important;
}
.navbar-brand img{
    height: 40px !important;
}
.res-nav-group{
    background: rgba(250, 250, 250, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1.5rem !important;
}
.res-nav-group ul {
    margin-left: 60px !important;
}
@media (min-width:992px){
    .res-nav-group{
        background: transparent !important;
        display: flex;
        flex-direction: row;

    }
}
.back {
    color: #000 !important;
    font-family: "FFShamelFamily-SansOneBook" !important;
    font-size: 14px !important;
}
.footer-linkes{
    color: #221950;
    font-family: "FFShamelFamily-SansOneBook" !important;
    text-align: right !important;

}
footer .col {
    text-align: right !important;
}
.img-hover img {
    height: 33px;
}
.img-resize-none img{
    height: 17px !important;
}
.img-hover:hover{
    opacity: 0.7 !important;
}
.template-p{
    line-height: 1.7 !important;
    font-size: 13px !important;
    font-family: "FFShamelFamily-SansOneMedium" !important;
    text-align: right !important;

}
.start-now{
    float: left !important;
    margin-left: 38%;
}




/* Blog style*/
.search-top {
    background: #F7F5FF !important;
    border: 1px solid #DFD6FF !important;
    border-radius: 40px !important;
    outline: none !important;
}

.carousel-caption-format {
    position: absolute;
    right: 10%;
    bottom: 50px;
    left: 50%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #fff;
}

.carousel-item {
    position: relative;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4) !important;
}

.carousel-p {
    line-height: 1.7;
    font-family: "FFShamelFamily-SansOneBook" !important;
    font-size: 12px;
    width: 120%;


}
.card-p{
    font-family: "FFShamelFamily-SansOneBook" !important;
    font-size: 10px !important;
    text-align: right;
    color: #221950;
    margin: 20px 0 10px 0 !important;
}
.card-h {
    color: #221950 !important;
    font-size: 11px !important;
    text-align: right;
    margin: 20px 0 10px 0 !important;
}
.card-h a{
    color: #221950 !important;
}
.card-h a:hover{
    color: #2e6da4 !important;
}
.card-img-hover {
    padding: 0 !important;
}
.card-img-hover:hover{
    opacity: 0.7;
    transition: all 0.4s;
}
.card:hover {
    background-color: #fff;
    transform: none;
    cursor: pointer;
}


/* Single post style*/
.content h3{
    text-align: right;
    color: #343A40;
    font:   23px/53px "FFShamelFamily-SansOneBook" !important;
    font-size: 23px !important;

}
.content p{
    font-family: "FFShamelFamily-SansOneBook" !important;
    font-size: 11px;
    font-weight: 500;
    color:#74787D;
}

.left-side{
    display: flex;
    flex-direction: column;
}
.right-side{
    display: flex;
    text-align: right;
}
.res-container{
    padding-left: 100px;
}


/* Sign-Up style */
.fields-label{
    font-size: 14px !important;
    color: #221950 !important;
    font-family: "FFShamelFamily-SansOneBook" !important;
    text-align: right !important;
    float: right !important;
    margin-bottom : 20px !important;

}
form label{
    color: #221950 !important;
    margin-right: 37px;
}
form input ,textarea  {
    background: #F7F5FF!important;
    color:#000 !important;
    padding:30px 30px!important;
    font-size: 14px !important;
    border: 1px solid #DFD6FF !important;
    border-radius: 40px !important;
    outline: none !important;
    margin-top: 1rem !important;
}
form input::placeholder , textarea::placeholder{
    color: #B9AAF1!important;
    font-weight: lighter;
    font-family: "FFShamelFamily-SansOneBook" !important;

}
.step-button{
    float: left !important;
    margin-left: 42%;
    padding-right: 56px;
}
.select-t{
    background: #F7F5FF!important;
    color:#000 !important;
    font-size: 12px !important;
    border-radius: 50px !important;
    height: 50px !important;
    font-family: "FFShamelFamily-SansOneBook" !important;

}
.select-t option{
    font-size: 13px !important;
    font-family: "FFShamelFamily-SansOneBook" !important;
}
.responsive {
    max-width: 100% !important;
    height: auto !important;
  }

.list-set li {
    border: none !important;
}
.list-set li:hover{
    background-color: #F3EFFF;
    border-radius: 5%;
}



/* Latest compiled and minified CSS included as External Resource*/

/* Optional theme */

/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');*/

.stepwizard-step p {
    margin-top: 0px;
    color:#fff;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    background:  #7657E5;
    padding: 5px ;
    padding-top: 15px;
    border-radius: 74px;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color: #7657E5;

}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 20px !important;
}
.active-btn {
    background: #F582EA !important;
    color: #fff !important;
    outline: none !important;
}

.pop-up{
    position: fixed;
    bottom: 29px;
    left: 33%;
    background: rgba(255,255,255,0.8);
    width: 34%;
}
/*step 3 style */
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}
.custom-card {
    border: 1px solid #F2F2F2 !important;
    border-radius: 12px !important;
    box-shadow: none !important;
}
.indicators{
    /* background:#ab95fd; */
    /* bottom: -190px !important;  */
    width: 13%;
    height: 1px ;
    border-radius: 0px;
    padding: 0 ;
    margin-top: 20px !important;
}
.indicators li{
    background: rgb(100, 99, 99) !important;
    height: 1px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    /* background: #a3a3a3; */
    border-radius: 50%;
    width: 10px;
    height: 2px;
}

.blog .carousel-indicators .active {
/* background: #707070; */
}
.hide{
    display: none !important;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
  .c-i::before {
    background: transparent !important;
}

  .hover-state:hover .a .image {
    opacity: 0.8 !important;
    cursor: pointer;

  }
  .hover-state:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }



  .hover-state:hover .middle {
    opacity: 1;
  }
  .overrideheight{
      height: 10px !important;
  }
  .stepwizard-step a {
    background-color: #fff !important;
    border-color: #ccc !important;
    color:  #7657E5 !important;
  }
  .stepwizard-step a:hover {
    background: #F582EA !important;
    color: #fff !important;
    outline: none !important;
  }
/***step4 ****/
.package-item{
    padding-right: 90px;
  }
  .cc{
    box-shadow: 0px 6px 20px #0000001A;
    border: none !important;
  }
  .props{
      font-size: 11px;
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .sa{
      font-size: 0.75rem !important;
      padding-top: 5px ;
  }
  .card-head-f{
      font-size: 21px;
  }

  /*****/
  .packages {
    margin: 3%;
    width: 300px;
    padding-bottom: 50px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    flex-wrap: wrap;
    color: #7657E5;
}
.packages h1 {
    margin-top: 18%;
}
.packages img{
    margin-left: -100%;
    margin-bottom: -33%;
    margin-top: -78px;
}
.packages ul li img{
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.top{
    font-size: 18px;
    font-family: "FFShamelFamily-SansOneBold" ;
}

.top h1{
    color: #221950;
    font-family: "FF Shamel Family Sans One";
    font-weight: normal;
    margin-top: 12%;

}
.top h2{
    font-size: 36px;
    color: #7657E5;
    font-family: "FFShamelFamily-SansOneBold";
    margin-bottom: 3%;


}
.container h5 {
    color: #221950;
    font-size: 21px;
    margin: 0px 43%;

}
.container h4 {
    margin: 1% 28% 5% 28%;
    font-size: 32px;
    color: #7657E5;
}

.list li {
    font-size: 18px;
    list-style: none;
    padding-inline-start: 0;
    border-width: 1px;
    padding: 15px;
    font-family: "FFShamelFamily-SansOnemedium";
}
.package-container {
    flex-wrap: wrap;

    font-family: "FFShamelFamily-SansOneMedium";

}
.rounded-price{
    background: #7657E5;
    border-radius: 32px;
    color: #fff;
}
.set-color{
    color: #221950;
    font-size: 13px !important;
    font-family: "FFShamelFamily-SansOneBook";


}
.stepwizard-row::before{
    top: -100000px;
}
/* .selected::before{
    content: 'تم الاختيار';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.6);
    /* border: 1px solid #fff;
    cursor: pointer;} */


    label {
        width: 100%;
        font-size: 1rem;
    }

    .card-input-element+.card {
        height: calc(36px + 2*1rem);
        color: var(--primary);
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 2px solid transparent;
        border-radius: 4px;
    }

    .card-input-element+.card:hover {
        cursor: pointer;
    }

    .card-input-element:checked+.card {
        border: 4px solid #7657E5;
        -webkit-transition: border .3s;
        -o-transition: border .3s;
        transition: border .3s;
    }

    .card-input-element:checked+.card::after {
        content: '';
        color: #AFB8EA;
        font-family: 'Material Icons';
        font-size: 24px;
        -webkit-animation-name: fadeInCheckbox;
        animation-name: fadeInCheckbox;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @-webkit-keyframes fadeInCheckbox {
        from {
            opacity: 0;
            -webkit-transform: rotateZ(-20deg);
        }

        to {
            opacity: 1;
            -webkit-transform: rotateZ(0deg);
        }
    }

    @keyframes fadeInCheckbox {
        from {
            opacity: 0;
            transform: rotateZ(-20deg);
        }

        to {
            opacity: 1;
            transform: rotateZ(0deg);
        }
    }

/*Media queries -responsive */
@media (max-width:768px){
    .stepwizard-row::before {
        top: 29px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 71%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
        left: 68px;
    }
    .carousel-caption-format div{
        background: none !important;

    }
    .left-side{
        display:none !important;
    }
    .right-side{
        justify-content: center !important;
        align-items: center !important;
    }
    .content{
        margin-right:50px;
        padding-right: 50px;
    }
    .content h3{
        font:   25px/53px "FFShamelFamily-SansOneBook" !important;
        font-size: 17px !important;
        text-align: center !important;

    }
    .content p{
        font-family: "FFShamelFamily-SansOneBook" !important;
        font-size: 10px !important;
        font-weight: 500;
        text-align: center !important;

        color:#74787D;

    }

    .form-wrapper{
        margin-right: 0px !important;
    }
    .res-row{
        flex-direction: column !important;
    }
    .res-row img {
        width: 100% !important;
    }
    .tdween{
        margin-right: 30%;
        text-align: center;
    }
    .tdween-h{
        text-align:right !important;
    }
    .stepwizard-step p{
        display: none !important;

    }

}

@media (max-width:570px){
    .stepwizard-row::before {
        width: 65%;
        left: 70px;
    }
    .top-slider{
        flex-direction: column !important;
    }
    .top-slider .back{
        display: none !important;
    }
    .carousel-caption-format .date{
        display: none !important;

    }

    .cards-container .row  .card{
        margin: 20px!important;
        padding: 0!important;
    }
    .left-side{
        display:none !important;
    }
    .content{
        margin-right: 0 !important;
    }

    .content h3{
        font:   25px/53px "FFShamelFamily-SansOneBook" !important;
        font-size: 10px !important;
        width: 70%;
        margin-bottom: 15px !important;
        margin-right: 0px!important;
        line-height: 1.2 !important;

    }
    .content p{
        font-family: "FFShamelFamily-SansOneBook" !important;
        font-size: 10px !important;
        width: 70%;
        margin-bottom: 15px !important;
        margin-right: 0px!important;
        font-weight: 500;
        color:#74787D;

    }
    .search{
        flex-direction: column;
    }
    .res-col{
        flex-direction: column !important;
    }
    .pagination-hide {
        display: none !important;
    }
    .res-footer-col {
        padding-right: 0.5rem !important;
    }
    .res-footer-col-l{
        padding-left: 0 !important;
    }
    .package-item{
        padding-right: 24px !important;
    }
    .top-heading {
        font-size: 18px !important;
    }
    .start-now{
        font-size: 10px;
        padding-right: 10px !important;
    }

}
@media (max-width:400px){
    .stepwizard-row::before {
        width: 63%;
        left: 50px;
    }
}


    @media (max-width:1220px){
        .res-button{

            justify-content: center;
            align-items: center;
        }
        .res-button div {
            margin-right: 10px !important;
        }
        .res-nav-item{
            margin-right: 0.5rem !important;
        }
        .res-nav-group{
            padding-left: 0px !important;
        }
        .res-nav-group ul {
            margin-left: 10px !important;
        }
        .res-nav-link{
            font-size: 12px !important;
        }
        nav form {
            padding: 0 !important;
        }




}
@media (max-width:992px){
    .carousel-caption-format{
        margin: auto;
        text-align: center !important;
        right: 15% !important;
        left: 0%;
        padding-top: 20px;
        padding-bottom: 20px !important;
    }
    .carousel-caption-format h5{
        font-size: 16px !important;
    }
    .carousel-caption-format p{
        display: none;
    }
    .left-side{
        display:none !important;
    }
    .res-nav-group ul {
        margin:auto !important;
    }


    .cards-container .card{
        margin-right: 0!important;
        margin-left: 0!important;
    }
    /***/
    .left-side{
        display:none !important;
    }
    /***/
    .res-button{
        width: 50% !important;
        font-size: 9px;
        margin-left: 30% !important;
    }
    .res-container{
        padding-left: 0 !important;
        padding-right: 0 !important;

    }
    .res-hide{
        display: none !important;
    }
    .navbar-collapse{
        text-align: center !important;
    }
    .nav-links-group{
        margin: auto !important ;
    }

@media (max-width:333px){
    .chev{
        display: none !important;
    }
    .res-button{
        font-size: 10px !important;
    }
    .res-button i {
        display: none !important;
        margin-left: -10px !important;
    }
    .carousel-caption-format h5{
        font-size: 12px !important;

    }
    .carousel-caption-format {
        padding: 0 !important;
    }

}
